{% extends "layout.html" %}
{% block title %}
    Transaction
{% endblock %}

{% block main %}
<div>
    <form action="/spent" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">₹</span>
            <input autocomplete="off" autofocus class="form-control" id="spent" name="spent" placeholder="Enter Transaction Amount" type="number">
        </div>
        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="With textarea" id="description" name="description"></textarea>
          </div>
          <br>
        <button class="btn btn-primary" type="submit">PAY</button>
    </form>
</div>
{% endblock %}