{% extends "layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}
<div class="about-image">
    <div class="hero-text">
        <h1 style="text-align: left; font-size: 50px; color: #000000" class="lead">
            Hey it's me Gaurav BK from NITS and I developed this website for stopping my own <a style="color: #ff0000;">FALTU</a> kei Expenses.
        </h1>
        <h1 style="text-align: right; font-size: 50px; color: #000000" class="lead">
            Space for some <mark style="color: #03f564;">Blog</mark>
        </h1>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer style="position: bottom: auto;background-color: rgb(37, 36, 36);color:white;display:flex;justify-content:space-around;align-items:center;font-size: 1.3rem;height: 100px;">
    <div class="fd1">
      Copyright@2023 All rights reserved | This web-app is Designed by Gaurav Bhushan Kumar
    </div>
    <div style="display: flex;column-gap: 27px;">
      <a href="https://www.facebook.com/"
        target="_blank"><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.twitter.com/"
        target="_blank"><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.instagram.com"
        target="_blank"><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </footer>
{% endblock %}