{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div style="text-align: left;">
        <h1>WELCOME,</h1>
        <h3>Ready to Join us and do Savings!</h3>
        <br>
        <h3>So, don't wait more register yourself and start your new journey...</h3>
    </div>
    <br><br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}

{% block footer %}
<footer style="position: bottom: auto;background-color: rgb(37, 36, 36);color: white;display: flex;justify-content: space-around;align-items: center;font-size: 1.3rem;height: 100px;">
    <div class="fd1">
      Copyright@2023 All rights reserved | This web-app is Designed by Gaurav Bhushan Kumar
    </div>
    <div style="display: flex;column-gap: 27px;">
      <a href="https://www.facebook.com/gaurav.bk.92560/"
        target="_blank"><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://mail.google.com/mail/?view=cm&source=mailto&to=[soulgaurav08@gmail.com]"
        target="_blank"><i class="fa-light fa-envelope"></i></a>
      <a href="https://www.instagram.com/gauravbk08/"
        target="_blank"><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </footer>
{% endblock %}
